@{
    ViewData["Title"] = "Index";
}

<h1>Danh Sách Thể Loại</h1>

<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <a href="TheLoai/Create" class="btn btn-primary">Tạo Thể Loại Mới</a>
        </div>
    </div>

    @if (ViewBag.TheLoai != null && ViewBag.TheLoai.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên Thể Loại</th>
                    <th>Ngày Tạo</th>
                    <th>Hành Động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.TheLoai)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", item.DateCreated)</td>
                        <td>
                            <a href="/TheLoai/Details/@item.Id" class="btn btn-info">Chi Tiết</a>
                            <a href="/TheLoai/Edit/@item.Id" class="btn btn-warning">Chỉnh Sửa</a>
                            <a href="/TheLoai/Delete/@item.Id" class="btn btn-danger">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Không có thể loại nào được tìm thấy.</p>
    }
</div>
