<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectA.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <style>
        html, body {
            margin: 0; /* Bỏ margin cho html và body */
            padding: 0; /* Bỏ padding cho html và body */
            height: 100%; /* Đảm bảo chiều cao của body 100% */
        }

        footer {
            margin-bottom: 0; /* Bỏ khoảng cách dưới cho footer */
        }
    </style>
</head>
<body>+
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Designer.jpg" alt="Logo" style="height: 100px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Admin" asp-controller="TheLoai" asp-action="Index">TheLoai</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="Admin" asp-controller="SanPham" asp-action="Index">SanPham</a>
                        </li>
                        <vc:the-loai></vc:the-loai>
                        
                    </ul>

                   

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>



    <section id="contact">
        <footer id="footer" class="py-5 bg-dark text-light">
            <div class="container">
                <div class="row">
                    <!-- Address Column -->
                    <div class="col-md-3">
                        <h5>Address</h5>
                        <p><i class="fa fa-map-marker"></i> Location</p>
                        <p><i class="fa fa-phone"></i> Call +01 1234567890</p>
                        <p><i class="fa fa-envelope"></i> demo@gmail.com</p>
                        <div class="social-icons">
                            <a href="https://www.facebook.com" target="_blank">
                                <i class="fab fa-facebook-f" style="font-size:24px; margin-right: 10px;"></i>
                            </a>
                            <a href="https://www.twitter.com" target="_blank">
                                <i class="fab fa-twitter" style="font-size:24px; margin-right: 10px;"></i>
                            </a>
                            <a href="https://www.linkedin.com" target="_blank">
                                <i class="fab fa-linkedin" style="font-size:24px; margin-right: 10px;"></i>
                            </a>
                            <a href="https://www.instagram.com" target="_blank">
                                <i class="fab fa-instagram" style="font-size:24px;"></i>
                            </a>
                        </div>
                    </div>

                    <!-- Links Column -->
                    <div class="col-md-3">
                        <h5>Links</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light">Home</a></li>
                            <li><a href="#" class="text-light">About</a></li>
                            <li><a href="#" class="text-light">Services</a></li>
                            <li><a href="#" class="text-light">Pricing</a></li>
                            <li><a href="#" class="text-light">Contact Us</a></li>
                        </ul>
                    </div>

                    <!-- Info Column -->
                    <div class="col-md-3">
                        <h5>Info</h5>
                        <p>Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful.</p>
                    </div>

                    <!-- Subscribe Column -->
                    <div class="col-md-3">
                        <h5>Subscribe</h5>
                        <form action="#" method="post">
                            <input type="email" class="form-control mb-2" placeholder="Enter email" />
                            <button type="submit" class="btn btn-danger">Subscribe</button>
                        </form>
                    </div>
                </div>

                <div class="text-center mt-4">
                    <p>&copy; 2024 All Rights Reserved By Free Html Templates</p>
                </div>
            </div>
        </footer>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- FontAwesome for the search icon -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</body>
</html>
